@if (data) {
  <p-table
    [scrollHeight]="scrollHeight"
    [value]="data.items"
    [scrollable]="true"
    [paginator]="true"
    [first]="vm.currentPos"
    [lazy]="true"
    [rowsPerPageOptions]="[20, 50, 100, 500, 1000]"
    [rows]="data.pageSize"
    [totalRecords]="data.totalCount"
    (onPage)="vm.getData($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="action">
            <p-button size="small" severity="info" icon="pi pi-plus" (click)="vm.openPropertyEditor()"/>
            <div class="p-float-label p-input-icon-right">
              <input id="c-search" pInputText class="p-inputtext-xs"
                     [formControl]="vm.searchCtrl"/>
              <i class="pi pi-search"></i>
              <label for="c-search">{{ 'config.key' | transloco }}</label>
            </div>
          </div>
        </th>
        <th>
          {{ "config.value" | transloco }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body">
      <tr (click)="vm.openPropertyEditor(item)">
        <td>
          {{ item.key }}
        </td>
        <td>
          {{ item.value }}
        </td>
      </tr>
    </ng-template>
  </p-table>
}

<preloader *preloading="{state: true, channel: vm.preloaderChannel}"/>
