<div class="label">{{column.name | localize: column.property}}</div>
<div class="p-float-label">
  <p-password
    inputId="pwd1"
    [formControl]="form.controls.newPassword"
    [weakLabel]="'password.label.weak' | transloco"
    [mediumLabel]="'password.label.medium' | transloco"
    [strongLabel]="'password.label.strong' | transloco"
    [promptLabel]="'password.prompt' | transloco"
    [toggleMask]="true"
  />
  <label for="pwd1">{{'password.prompt' | transloco}}</label>
</div>
<div class="p-float-label">
  <p-password
    inputId="pwd2"
    [formControl]="form.controls.repeatPassword"
    [weakLabel]="'password.label.weak' | transloco"
    [mediumLabel]="'password.label.medium' | transloco"
    [strongLabel]="'password.label.strong' | transloco"
    [feedback]="false"
    [toggleMask]="true"
  />
  <label for="pwd2">{{'password.repeat' | transloco}}</label>
</div>
