@if (action) {
  <button class="p-button-sm" pButton pRipple (click)="reCreateMedia()">
    {{ action.name | localize:action.code }}
  </button>
}

<p-confirmDialog #dialog [key]="dialogKey">
  <ng-template pTemplate="header">
    {{ "media.recreate.title" | transloco }}
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton (click)="dialog.reject()">
      {{ "media.cancel" | transloco }}
    </button>
    <button type="button" class="p-button-success" pButton
            (click)="dialog.accept()">
      {{ "media.accept" | transloco }}
    </button>
  </ng-template>
</p-confirmDialog>
