<div>
  <div>
    {{"dashboard.lang" | transloco}}
  </div>
  <div>
    <lang-switcher/>
  </div>
</div>
<div>
  <div>
    <theme-switcher/>
  </div>
</div>
<div class="footer">
  <a href="https://github.com/alexander-kiriliuk/k-platform-core" target="_blank">
    <img alt="github-core"
         src="https://img.shields.io/badge/K--platform-core?logo=github&label=Core&link=https%3A%2F%2Fgithub.com%2Falexander-kiriliuk%2Fk-platform-core">
  </a>
  <a href="https://github.com/alexander-kiriliuk/k-platform-client" target="_blank">
    <img alt="github-client"
         src="https://img.shields.io/badge/K--platform-core?logo=github&label=Client&link=https%3A%2F%2Fgithub.com%2Falexander-kiriliuk%2Fk-platform-core">
  </a>
</div>
