:host {
  @apply block;
  min-width: 300px;
  min-height: 200px;

  & > div {
    @apply flex gap-4;
    & > div {
      @apply p-2 flex items-center;
    }
  }
}
.footer {
  height: var(--sb-footer-h);
  @apply my-16 py-2 px-2 flex items-center justify-between;
}
