:host {
  @apply flex justify-between w-full h-full;
  & > div {
    @apply flex items-center justify-center w-full;
  }

  ::ng-deep{
    input, .p-input-icon-right {
      @apply w-full;
    }
  }

  @screen max-lg {
    ::ng-deep {
      .p-card {
        @apply shadow-none;
        &-body {
          @apply p-0;
        }
      }
    }
  }
}

form {
  @apply relative px-6 py-2 flex flex-col gap-6 items-center;
}

img {
  max-width: 240px;
  @apply w-full;
}

button {
  @apply mt-4;
}

.captcha {
  @apply mt-2 flex flex-col gap-y-2;
  & > div {
    @apply flex gap-x-4;
  }
}

.logo {
  @apply relative w-full;
  height: 100px;

  &:after {
    content: "";
    background: no-repeat var(--logo-url) center left;
    @apply absolute left-3 right-3 top-3 bottom-3 bg-contain;
  }
}

.promo {
  @apply relative;
  @screen max-lg {
    @apply hidden #{!important};
  }
  background: var(--gradient-a);

  &:after {
    content: "";
    background-image: url("/assets/icons/promo.png");
    @apply absolute left-0 right-0 top-0 bottom-0 opacity-40 bg-no-repeat bg-center;
  }
}

re-captcha {
  @apply overflow-hidden;
  width: 298px;
  height: 74px;

  ::ng-deep {
    & > div {
      @apply relative;
      top: -1px;
      left: -2px;
    }
  }
}
